@model AssignmentsAtanga.Areas.Assignments.Models.Student
@{
    ViewBag.Title = "Delete Student";
}

<h2>Confirm Deletion</h2>
<h3>@Model.FirstName (@Model.Grade)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="StudentId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>

</form>

